.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.header_icon{
    max-width: 7rem;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: rgb(134, 134, 134);
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}
